body,h1,h2,h3,h4,h5,h6,p,ul,ol,li{
	margin: 0;
	padding: 0;
}
body{
	background: url(./pics/hdbackground4.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	background-color: rgba(56, 56, 56, 1);
}
header{
	width: 100%;
	max-width: 1000px;
	height: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
	border-bottom-color: #3d3d3d;
	background-color: #7cb2e1;
	z-index: 1;
	background-color: rgba(71, 71, 71, 0.6);
	-moz-box-shadow: 1px 3px px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 3px px rgba(0,0,0,.5);
	box-shadow: 1px 3px px rgba(0,0,0,.5);
}
footer{
	width: 100%;
	max-width: 1000px;
	height: 250px;
	background-color: rgba(71, 71, 71, 0.6);
	-moz-box-shadow: 1px 2px px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px px rgba(0,0,0,.5);
	box-shadow: 1px 2px px rgba(0,0,0,.5);
}
h1{
	font-size: 90px;
	font-family: 'Droid Sans', sans-serif;
	color: rgba(219, 219, 219, 1);
	-webkit-text-stroke-width: px;
	-webkit-text-stroke-color: rgba(64, 64, 64, 1);
	-webkit-animation: fade 3s;
	-webkit-animation-fill-mode: both;
}
h2{
	color: white;
	font-size: 20px;
	font-family: 'Muli', sans-serif;
	float: left;
	margin-top: 50px;
	margin-left: -160px;
	background-color: red;
	-webkit-animation: fade 3s;
	-webkit-animation-fill-mode: both;
}
h3{
	color: rgba(219, 219, 219, 1);
	font-family: 'Muli', sans-serif;
    font-size: 95px;
    margin-top: 40px;
   	-webkit-animation: fade 3s;
	-webkit-animation-fill-mode: both;
}
h4{
	color: rgba(219, 219, 219, 1);
	font-size: 25px;
	padding-top: 50px;
	font-family: 'Muli', sans-serif;
	-webkit-animation: fade 3s;
	-webkit-animation-fill-mode: both;
}
p{
	width: 95%;
	max-width: 540px;
	font-size: 40px;
	margin-top: 120px;
	color: rgba(219, 219, 219, 1);
	font-family: 'Muli', sans-serif;
	float: right;
	font-weight: 700;
	-webkit-animation: fade 3s;
	-webkit-animation-fill-mode: both;
}
#Content{
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	padding-top: 50px;
	background-color: rgba(71, 71, 71, 0.6);
	-moz-box-shadow: 1px 2px px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px px rgba(0,0,0,.5);
	box-shadow: 1px 2px px rgba(0,0,0,.5);
}
#midContent{
	width: 95%;
	max-width: 950px;
	padding-top: 80px;
	height: 655px;
	background-color: ;
}
#jonPic{
	width: 300px;
	margin-top: 120px;
	-webkit-animation: fade 3s;
	-webkit-animation-fill-mode: both;
}
#jbLogo{
	width: 250px;
	margin-top: 10px;
	-webkit-animation: fade 3s;
	-webkit-animation-fill-mode: both;
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
#navWrap{
	height: 60px;
	max-width: 480px;
	border-bottom-color: rgba(219, 219, 219, 1);
	border-top-color: rgba(219, 219, 219, 1);
	border-width: 3px 0px 3px 0px;
	border-style: solid; 
}
/* nav stuff */
nav{
 text-indent: 35px;
 padding-top: 15px;
}
nav ul li{
 float: left;
 list-style: none;
 position: relative;
}
nav ul li a{
 color: white;
 padding: 10px 20px;
 border-left: 2px solid;
 border-left: none;
 font-size: 25px;
 font-family: 'Muli', sans-serif;
 text-decoration: none;
 -webkit-animation: fade 2s;
 -webkit-animation-fill-mode: both;
}
nav ul li a:hover{
 background-color: rgba(219, 219, 219, 1);
 color: #383838;

}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 870px){
h2{
	color: white;
	padding-top: 180px;
	max-width: 500px;
	font-size: 80px;
	font-family: 'Muli', sans-serif;
	-webkit-animation: fade 0.8s;
	-webkit-animation-fill-mode: both;
}
p{
	float: none;
	margin-top: 100px;
}
nav{
	text-indent: none;
}
nav ul li{
	float: none;
	margin-top: 30px;
	width: ;
}
nav ul li a{
 color: white;
 background-color: #448ccb;
 width: 95%;
 padding: 10px 120px;
 border-left: 2px solid;
 border-left: none;
 font-size: 25px;
 font-family: 'Muli', sans-serif;
 text-decoration: none;
 -webkit-animation: fade 2.5s;
 -webkit-animation-fill-mode: both;
}
#navWrap{
	width: 100%;
	height: 200px;
	margin-left: -40px;
	border-style: none;
}
#midContent{
	min-height: 1300px;
}
#contact{
	padding: 10px 109px;
}
}
