body,h1,h2,h3,p,ul,ol,li{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgba(49, 57, 89, 1);
}
header{
	width: 100%;
	height: 200px;
	background-color: rgba(30, 31, 72, 1);
	position: fixed;
	margin: auto;	
}
footer{
	width: 60%;
	height: 50px;
	background-color: rgba(49, 57, 89, 1);
}
p{
	color: black;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 90%;
	font-size: 24px;
}

#pics{
	border-radius: 10px;
	margin-top: 10px;
	max-width: 400px;
}
#Container{
	background-color: rgba(30, 31, 72, 1);
	width: 60%;
	border-radius: 0 0 10px 10px;
	padding-top: 200px;
	padding-bottom: 5px;
}
#Content{
	background-color: white;
	width: 80%;
	border-radius: 0 0 10px 10px;

}
#topstuff{
	width: 60%;
	height: 100%;
	background: url("Jblogo7.png") no-repeat;
	background-position: center;
}
#bottomstuff{
	border-radius: 100%;
	width: 100px;
	height: 100px;
	background-color: rgba(49, 57, 89, 1);
	margin: 30px 0;

}