body,h1,h2,h3,h4,p,ul,ol,li{
	margin: 0;
	padding: 0;
}
body{
	background-size: 100%;
	background-color: #3e474f;
	background: url(./pics/sfedit3.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
}
header{
	background-image: url("");
	max-width: 800px;
	width: 80%;
}
footer{
	height: 200px;
	max-width: 800px;
	width: 80%;
}
img{
	width: 100%;
	max-width: 500px;
	opacity: ;
}
p{
	margin-top: 40px;
	padding-bottom: 50px;
	color: #eebf87;
	max-width: 450px;
	font-size: 25px;
	border: 1px;
}
h1{
	padding-top: 20px;
	color: #eebf87;
	font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}
h2{
	color: #eebf87;
	font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
	border-top: 2px solid #eebf87;
	border-bottom: 2px solid #eebf87;
	border-left: 2px solid #eebf87;
	border-right: 2px solid #eebf87;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	font-size: 40px;
	margin-top: 30px;
}
h2 :hover{
	border-top: 2px solid #57d8ff;
	border-bottom: 2px solid #57d8ff;
	border-left: 2px solid #57d8ff;
	border-right: 2px solid #57d8ff;
	color: #57d8ff;
}
h3{
	text-indent: -9999px;
	height: 20px;
}
#pics{
	max-width: 300px;
	margin-top: 20px;
}
#pics2{
	width: 100%;
	max-height: 400px;
}
#logo{
	max-width: 600px;
	width: 100%;
	padding-top: 5px;
}
#Content{
	background-color: ;
	min-height: 460px;
	width: 80%;
	max-width: 800px;
}
#MainContent{
	width: 80%;
	min-height: 460px;
	margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.2);
	border-top: 2px solid #eebf87;
	border-bottom: 2px solid #eebf87;
	border-left: 2px solid #eebf87;
	border-right: 2px solid #eebf87;
}
.cycle-slideshow{
	width: 100%;
	max-width: 900px;
	max-height: 500px;
}
#navwrap{
	width: 80%;
	height: 50px;
}
/* nav stuff */
nav{
	margin: 0px;
	padding-top: 10px;
	text-indent: 20px;
	display: table;
}
nav ul li{
	float: left;
	list-style: none;
	position: relative;
}
nav ul li a{
	color: #eebf87;
	padding: 10px 20px;
	border-left: 2px solid;
	border-left: none;
	border-top: 2px solid #eebf87;
	border-bottom: 2px solid #eebf87;
	border-left: 2px solid #eebf87;
	border-right: 2px solid #eebf87;
	text-decoration: none;
	font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
	font-size: 25px;
}
nav ul li a:hover{
	color: #eebf87;
	border-radius: 40px;
 	border-top: 2px solid #eebf87;
	border-bottom: 2px solid #eebf87;
	border-left: 2px solid #eebf87;
	border-right: 2px solid #eebf87;
	-o-transition:.8s;
	-ms-transition:.8s;
	-moz-transition:.8s;
	-webkit-transition:.8s;
	transition:.8s;
}

/*Responsive Styles*/
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 900px){
header{
	width: 100%;
}
footer{
	width: 100%;
}
#Content{
	width: 100%;
}
}
@media screen and (max-width: 580px){
nav ul li{
 	float: none;
 	list-style: none;
 	position: relative;
}
nav{
	width: 95%;
}
nav ul li{
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav ul li a:hover{
	border-radius: 0;
	width: 100%;

}
nav ul :hover{
	background-color: ;
}
h1{
	padding-bottom: 20px;
}
p{
	margin-top: 30px;
	padding-bottom: 20px;
	font-size: 20px;
}
#navwrap{
	width: 100%;
}
#MainContent{
	width: 95%;
	margin-top: 130px;
}
}
/*mobile*/

 @media  all and (max-width:360px), screen and (-webkit-min-device-pixel-ratio: 3.0) and (max-width: 1080px), screen and (-webkit-min-device-pixel-ratio: 2.0) and (max-width: 720px) {	
 	nav ul li{
 	float: none;
 	list-style: none;
 	position: relative;
 	background-color: #3498db;
}
nav{
	width: 95%;
}
nav ul li{
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav ul li a:hover{
	border-radius: 0;
	width: 100%;
}
nav ul :hover{
	background-color: ;
}
h1{
	padding-bottom: 20px;
}
p{
	margin-top: 30px;
	padding-bottom: 20px;
	font-size: 20px;
}
#navwrap{
	background-color: #2980b9;
	width: 100%;
}
#MainContent{
	width: 95%;
	margin-top: 130px;
}
} 
/* slider code */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
/*
#3e474f
html{ 
  background: url(./pics/woodwallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/