body,h1,h2,h3,h4,p,ul,ol,li{
	margin: 0;
	padding: 0;
}
body{
	background: url(./pics/yosemite2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
}
header{
	position: fixed;
	width: 100%;
	height: 100px; 
	background-color:;
}
footer{
	height: px;
	max-width: px;
	width: 100%;
	background-color: #424242;
}
p{
	color: white;
	max-width: 500px;
	font-size: 25px;
	-webkit-animation: fade 7s;
    -webkit-animation-fill-mode: both;
	font-family: 'Nunito', sans-serif;
}
h1{
	width: 700px;
	font-size: 100px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #cfcfcf;
	border-top: 4px solid #cfcfcf;
	border-bottom: 4px solid #cfcfcf;
	border-left: 4px solid #cfcfcf;
	border-right: 4px solid #cfcfcf;
	-webkit-animation: fade 3s;
    -webkit-animation-fill-mode: both;
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
h2{
	color: white;
	font-size: 25px;
	margin-top: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h3{
	color: white;
	width: 500px;
	margin-top: 150px;
	font-size: 25px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h4{
	height: 240px;
	width: 50px;
}
h5{
	color: white;
	width: 500px;
	margin-top: 20px;
	font-size: 25px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
#Content{
	padding-top: 100px;
	height: 100%;
	width: 100%;
	min-width: 800px;
	min-height: 1000px;
	background-color: rgba(64, 64, 64, 0.4);
}
#textContent{
	width: 100%;
	height: 650px;
}
#logo{
	height: 100px;
}
#jonPic{
	width: 400px;
	margin-top: 100px;
	-webkit-animation: fade 5s;
    -webkit-animation-fill-mode: both;
}
#site1{
	width: 400px;
	height: 300px;
	padding-bottom: 50px;
}
#webPic{
	max-width: 400px;
}
#innerContent{
	width: 100%;
	max-width: 800px;
	min-height: 800px;
	margin-top: 70px;
	background-color: ;
}
/* nav stuff */
nav{
 margin: 20px 20px 0 0;
 text-indent: 20px;
 display: table;
 float: right;
 margin-top: -75px;
 margin-right: 50px;
}
nav ul li{
 float: left;
 list-style: none;
 position: relative;
}
nav ul li a{
 color: #cfcfcf;
 padding: 10px 10px 10px 10px;
 border-left: 2px solid;
 border-left: none;
 border-radius: 10px;
 text-decoration: none;
}
nav ul li a:hover{
 color: #cfcfcf;
}
/* Sub Level Nav */
nav ul li ul{
	position: absolute;
	left: -9999px;
	background-color: ;
}
nav ul li:hover ul{
	left: 0;
 	position: absolute;
 	width: 120px;
	font-size: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #cfcfcf;
	border-top: 3px solid #cfcfcf;
	border-bottom: 3px solid #cfcfcf;
	border-left: 3px solid #cfcfcf;
	border-right: 3px solid #cfcfcf;
	margin-top: 10px;
}
nav ul li ul li{
	float: none;
	position: center;
	margin-top: 15px;
	display: ;
}
nav ul li ul a{
	display: inline-block;
	text-align: ;
	width: ;
	text-indent: -12px;
}
nav ul li ul a:hover{
	color: #80c3d1;
}

/* responsive design */

@media screen and (max-width: 800px){
body{

}
h1{
	width: 80%;
	font-size: 70px;
}
#Content{
	width: 100%;
	min-width: 300px;
}
#jonPic{
	width: 300px;
	padding-top: 40px;
}
@media screen and (max-width: 600px){
h1{
	width: 80%;
	font-size: 50px;
}
}
/* media queries */

@media screen and (min-width: 2000px){
#Content{
	width: 100%;
	height: 100%;
}
}

@media screen and (min-height: 2000px){
#Contact{
	width: 100%;
	min-height: 100%;
	min-height: 2000px;
}
}
/* Portrait and Landscape */
@media screen and (max-width: 400px){
	#site1{
		padding-bottom: 10px;
	}
	#webPic{
		width: 300px;
	}
}




